/* 
    Created on : 13/11/2015, 21:33:14
    Author     : Paulo H
*/

#topo{
    background-color: #017338;
    color: whitesmoke;
    height: 200px;
}



  body {
      position: relative; 
  }
  .jumbotron{
      margin: 0;
  }
  
  
  .affix {
      top:0;
      width: 100%;
      z-index: 9999 !important;
  }
  .navbar {
      margin-bottom: 0px;
      border-radius: 0;
      background-color: #015135;
  }

  .affix ~ .container-fluid {
     position: relative;
     top: 50px;
  }
  #section1 {padding-top:50px;height:600px;color: #fff; background-color: #1E88E5;}
  #section2 {padding-top:50px;height:600px;color: #fff; background-color: #673ab7;}
  #section3 {padding-top:50px;height:600px;color: #fff; background-color: #ff9800;}
  #section4 {padding-top:50px;height:600px;color: #fff; background-color: #00bcd4;}
  #section5 {padding-top:50px;height:600px;color: #fff; background-color: red;}
  #section6 {padding-top:50px;height:600px;color: #fff; background-color: #f0ad4e;}
  #section7 {padding-top:50px;height:600px;color: #fff; background-color: brown;}
  
   .carousel-inner > .item > img,
            .carousel-inner > .item > a > img {
                width: 70%;
                margin: auto;
            }